{% extends 'main.html' %} 
{% block content %}
<br><br><br>
<style>
.alert-error{
        background-color: red;
		color:white;
	}
</style>
<section class="main-content pt-4" id="main-content">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class=" border" style="padding: 20px;">
            {% for message in messages %}
				<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
					{{ message }}
				</div>
			{% endfor %}
                        <div class="col-md-12 no-margin">
                           <h4>Chnage Password </h4>
                       </div>
                       <hr>
                        <form method="post">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit">Save changes</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div> 
        </div>      
    </div>
</div>
</section>
<br>
    {% endblock %}